<div class="row">
	<div class="col-md-4">
		<%= image_tag @restaurant.image_url %>
			<h2>
			  <%= @restaurant.name %>
			</h2>

			<p>
			  <strong>Address:</strong>
			  <%= @restaurant.address %>
			</p>

			<p>
			  <strong>Phone:</strong>
			  <%= @restaurant.phone %>
			</p>

			<p>
			  <strong>Website:</strong>
			  <%= link_to @restaurant.website, "http://" + @restaurant.website %>
			</p>
			<%= link_to 'Write A Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
	</div>

	<div class="col-md-8">
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first to write one.</h3>
		<% else %>
			<% @reviews.each do |review| %>
				<p><%= review.rating %></p>
				<p><%= review.comment %></p>
			<% end %>
		<% end %>

		<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> |
		<%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>
	</div>
</div>